
/* Styling for Header Navbar(Horizontal Navbar)*/

#nav-header{
    flex-direction: row;
    height: 70px;
;}

.logo{
    font-weight: bold;
    color: black;
    font-size: 25px;
    

}

#logo-name{
   
margin-left: -80px;

}


#search-header{
    color: rgb(110, 119, 119);
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    margin-left: 50px;
    width: 950px;
    height:70px;
    border: 0.2px solid rgb(216, 209, 209);
    border-radius: 0px;
    background-image: url("../Components/Images/icon_search.svg");
    background-repeat: no-repeat;
    background-position-y: 28px;
    background-position-x: 20px;
    padding-left: 40px;
    
}


#notification_icon{
    transform: rotate(20deg);
    margin-left: 30px;
}

 #sijo-image{
margin-left: 20px;
} 

/* Styling for vertical Navbar*/

#vertical-navbar{
    width: 219px;
    height: 140vh;
    color: rgb(198, 201, 206);
   background:rgb(29, 19, 70) ;
   
}

#vertical-navbar-list{
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: space-around;
}


.btn{
  
   border: none;
    margin-top: 40px;
    text-align: center;
    background-color:rgb(29, 19, 70) ;
    color: rgb(87, 87, 155);
}


.btn:hover{
    
    color: orange;
    width: 100;
    height: 50px;
    background-color:rgb(29, 19, 70);
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;

}


/* Styling for Create.js */

#create-style{
    /* width: 80vh; */
    height: 110vh;
    margin-left: 200px;
    margin-top: -900px;
    text-align: left;
    padding-left: 100px;
    /* padding-bottom: 70px; */
    /* border:2px solid green */
    /* font-weight: bold; */
    font-weight: 600;
    font-style: oblique;
    justify-content: space-between;

}

#input-title{
      
   width: 800px;
   height: 70px;
   padding-left: 20px;

}

#btn_create_submit{
    background: green;
    /* float: right; */
    width: 150px;
    height: 40px;
    margin-top: 40px;
}

/* #create-elements{
padding-left: 100px;
   width: 100px;
} */

#text-box{
    width: 400px;
    height: 40px;
    justify-content: space-around;

}


/* Styling for Issues.js */

#table{

    font-size: 70%;
    text-align: left;

    /* width: 800px; */
    /* height: 250px; */
    border: 10px solid green;
    margin-left: 40px;

}


#flexbox{
    flex-direction: column;
    background-color: rgb(202, 192, 192);
    /* justify-content: end; */
    /* margin-left: 30px;
    margin-bottom: 30px; */


}

#flexbox1 {
    border:2px solid green;
    /* padding-right: 50vh; */
    flex-direction: column;
    /* margin-bottom: 20px; */
    /* display: flex; */
        justify-content: space-between;



}