
/* Styling for Header Navbar(Horizontal Navbar)*/

#nav-header{
    flex-direction: row;
    height: 70px;
}

.logo{
    font-weight: bold;
    color: black;
    font-size: 25px;
    

}

#logo-name{
   
margin-left: -80px;

}


#search-header{
    color: rgb(110, 119, 119);
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    margin-left: 50px;
    width: 950px;
    height:70px;
    border: 0.2px solid rgb(216, 209, 209);
    border-radius: 0px;
    background-image: url("../Components/Images/icon_search.svg");
    background-repeat: no-repeat;
    background-position-y: 28px;
    background-position-x: 20px;
    padding-left: 40px;
    
}


#notification_icon{
    transform: rotate(20deg);
    margin-left: 30px;
}

 #sijo-image{
margin-left: 20px;
} 

/* Styling for vertical Navbar*/

#vertical-navbar{
    width: 219px;
    height: 140vh;
    color: rgb(198, 201, 206);
   background-color:rgb(29, 19, 70) ;
   /* border: 2px solid green; */
   /* overflow: hidden; */
   /* overflow: auto; */
   /* overflow: scroll; */
   /* flex: 1;
   flex-direction: column; */
   
}

#vertical-navbar-list{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    align-content: space-around;
}


.btn{
  
   border: none;
    margin-top: 40px;
    text-align: center;
    background-color:rgb(29, 19, 70) ;
    color: rgb(228, 220, 220);
    /* color: rgb(59, 59, 192); */
}


.btn:hover{
    
    color: orange;
    width: 100;
    height: 50px;
    background-color:rgb(29, 19, 70);
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;

}


/* Styling for Create.js */

#create-style{
    /* width: 80vh; */
    /* overflow-y: auto;
    overflow-x: auto; */
    overflow: auto;
    height: 100vh;
    /* margin-left: 400px; */
    margin-left: 300px;
    /* flex: 5; */
    margin-top: -900px;
    text-align: left;
    /* margin-right: 150px; */
    /* padding-bottom: 70px; */
    /* border:2px solid green */
    /* font-weight: bold; */
    font-weight: 600;
    font-style: oblique;
    /* justify-content: space-between; */
       /* border: 2px solid green; */


}

#heading-create{
    /* border: 2px solid green; */
    /* margin-left: -40px; */
    margin-bottom: 40px;

}

.dropdown{
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

#input-title{
      
   width: 910px;
   height: 70px;
   padding-left: 15px;

}

#btn_create_submit{
    background: rgb(58, 60, 184);
    float: right;
    width: 175px;
    height: 50px;
    margin-top: 40px;
    margin-right: 300px;
    border-radius: 5px;
    border: none;
    color: white;
}

/* #create-elements{
padding-left: 100px;
   width: 100px;
} */

#text-box{
    width: 400px;
    height: 40px;
    margin-right: 100px;
    margin-top: 30px;

    /* justify-content: space-around; */

}


/* Styling for Issues.js */

#heading-issues{
    margin-left: -1000px;
    margin-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
}
#issues-style{
    margin-left: 220px;
    margin-top: -920px;
    background-color: rgb(240, 244, 248);
    /* padding-bottom: 20px; */
    padding-left: 10px;
    /* border: 2px solid green; */
}

#table{
    width:250px;
    height: 250px;

    font-size: 80%;
    text-align: left;

    /* width: 800px; */
    /* height: 250px; */
    margin-left: 40px;
    background-color: white;
    border-bottom: 10px solid   rgb(196, 220, 223);
    
    

}


#flexbox{
    flex-direction: column;
    background-color: rgb(196, 220, 223);
    margin-right: 30px;
    /* justify-content: end; */
    /* margin-left: 30px;
    margin-bottom: 30px; */


}

#flexbox1 {
    /* border:2px solid green; */
    /* padding-right: 50vh; */
    flex-direction: column;
    /* margin-bottom: 20px; */
    /* display: flex; */
        /* justify-content: space-between; */
     

}

#issues-progress{
    width: 40px;
    height: 20px;
    /* border: none; */
    background-color: rgb(190, 144, 58);
    color: white;
    text-align: center;
}

#issues-done{
    width: 40px;
    height: 20px;
    /* border: none; */
    background-color: green;
    color: white;
    text-align: center;
}


/* Styling for Issues_In_Detail.js */


#issuesInDetail{
    margin-left: 200px;
    margin-top: -900px;
}

#btn_issues_in_detail{
    width: 120px;
    height: 40px;
    /* border:2px solid green; */
    border: none;
    margin-right: 40px;
    margin-top: 30px;
    
}


#list{
    display: block;
    text-align: left;
}

#issue_detail1{

    width: 300px;
    /* border: 2px solid green; */
    margin-left: 20px;
    /* margin-right: 1000px; */
    margin-top: 50px;
    padding-left: 40px;
    justify-content: space-between;
}

#issue_detail2{
    /* border: 2px solid green; */
    margin-left: 400px;
    width: 300px;
    margin-top: -230px;
    padding-left: 40px;
}

#issue_detail3{
    /* border: 2px solid green; */
    margin-left: 800px;
    width: 300px;
    margin-top: -100px;
    padding-left: 40px;

}


#issue_detail4{
    /* border: 2px solid green; */
    margin-top: 80px;
    }

/* #spn_issue_detail1{
    border: 2px solid green;


    margin-left: 120px;
    text-align: left;
} */

#spn_issue_detail1{
margin-left: 100px;
/* border: 2px solid green; */

}

#spn_issue_detail2{
margin-left: 80px;
/* border: 2px solid green; */

}

#spn_issue_detail3{
margin-left: 15px;
/* border: 2px solid green; */

}

 #spn_issue_detail4{
margin-left: 25px;
/* border: 2px solid green; */

}

#spn_issue_detail5{
margin-left: 85px;
/* border: 2px solid green; */

}

#spn_issue_detail6{
margin-left: 40px;
/* border: 2px solid green; */

}

.span_values{
font-weight: 500;
}


#attachment_pdf{
    width: 700px;
    height: 40px;
    background-image: url('../Components/Images/upload.svg');
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: 7px;
}


/* Styling for dashboard.js */

#dashboard{
    /* background-color: rgb(235, 240, 245); */
    background-color: rgb(240, 244, 248);
    /* border: 2px solid green; */
    margin-left: 220px;
    margin-top: -920px;
    height: fit-content;


}

#graph_dashboard{
    position:"static";
    width:900px;
    height:500px;
    margin-left: 40px;
    background-color: white;
    margin-bottom: 20px;
}

#highPriority_dashboard{
    font-size: 80%;
    width: 300px;
    /* border: 2px solid green; */
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: white;

}

#heading_highpriority{
    text-align: center;
    margin-bottom: 40px;
}

#highpriority_details{
    border-top: 2px solid  rgb(240, 244, 248) ;
    border-bottom: 2px solid  rgb(240, 244, 248) ;

}

#recently_updated_issues{
    font-size: 80%;
    width: 300px;
     /* border: 2px solid green;  */
    text-align: left;
    margin-left: 400px;
    margin-top: -460px;
    margin-bottom: 20px;
    background-color: white; 
}

#heading_recently_updated_issues{
    text-align: center;
    margin-bottom: 40px;
}

#view_all_btn{
    border: none;
    color: rgb(81, 81, 209);
}
